// Colors
$primary-color:hsl(0, 78%, 62%);
$secondary-color:hsl(180, 62%, 55%);
$third-color: hsl(34, 97%, 64%);
$fourth-color:hsl(212, 86%, 64%);
$black:#000;
$white:#fff;
$dark:#333;
$grey:hsl(0, 0%, 98%);
$grey-blue:hsl(229, 6%, 66%);
$dark-blue:hsl(234, 12%, 34%);


//Text
$text-size:1rem;
$text-default-color:$dark;

//Font
$family-regular:'Poppins',sans-serif;
$weight-thin:200;
$weight-regular:400;
$weight-semibold:600;


//Layout


//Specs
$mobile-bk:375px;
$desktop-bk:1440px;
$wrapper:960px;
$radius:15px;


//Component